$main-color: #0F172B;
$main-color-oscuro: #0c1324;
$main-color-hover: #182545;

.inicio:hover, .sobre-mi:hover, .proyectos:hover, .contacto:hover {
  color: $main-color-hover;
}

header {
  background-color: rgba(205, 191, 176, 0.8);
  color: $main-color;
  /* El saturate() ajusta la saturación de colores - 180% aumenta la intensidad de los colores en un 80% adicional */
  backdrop-filter: saturate(180%) blur(25px);
  -webkit-backdrop-filter: saturate(180%) blur(25px);
  border-bottom: 1px solid rgba(205, 191, 176, 0.3);
}

.seccion-actual {
  background-color: $main-color;
}

