<div id="contacto-box">

  <div class="text-center my-8">
    <p class="text-lg text-gray-900 my-4">
      ¿Tienes molestias o dolores que te impiden disfrutar de tu día a día? ¡Puedo ayudarte a mejorar tu calidad de vida!
    </p>
    <p class="text-black">
      No dudes en contactarme a través del siguiente formulario para solicitar una cita. Como fisioterapeuta especializado, estaré encantado de ayudarte a recuperar tu bienestar y funcionalidad.
    </p>
  </div>

  <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mgveldnk" method="post" class="space-y-4 max-w-md mx-auto mb-10 border-2 border-[#000000] rounded-lg shadow-md p-6">
    <div>
      <input
        type="text"
        name="name"
        id="full-name"
        placeholder="Nombre"
        required=""
        class="w-full px-4 py-2 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#000000]"
      />
    </div>
    <div>
      <input
        type="email"
        name="_replyto"
        id="email-address"
        placeholder="Correo electrónico"
        required=""
        class="w-full px-4 py-2 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#000000]"
      />
    </div>
    <div>
      <textarea
        name="message"
        id="message"
        rows="4"
        placeholder="Tu mensaje"
        required=""
        class="w-full px-4 py-2 border border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#000000]"
      ></textarea>
      <input type="hidden" name="_subject" id="email-subject" value="Cita online">
      <button type="submit" class="w-full bg-[#000000] text-white py-2 px-4 rounded-lg hover:bg-[#000000] transition-colors mt-4">Enviar</button>
      <p id="form-response" class="mt-4 text-center text-sm text-gray-400"></p>
    </div>
  </form>
</div>
