::ng-deep .rounded-popup {
  border-radius: 20px !important;
}

@media (max-width: 768px) {
  .swal-mobile {
    margin: 0.6em;
    width: auto !important;
    max-width: 95vw !important;
    font-size: 0.9em;
  }

  .swal2-popup {
    padding: 0.8em !important;
  }

  .swal2-title {
    font-size: 1.4em !important;
    padding: 0.5em !important;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton-loader {
  background: #e2e2e2;
  border-radius: 0.5rem;
}

.container{
  padding: 0 25px;
}
