::ng-deep .rounded-popup {
  border-radius: 20px !important;
}

@media (max-width: 768px) {
  .swal-mobile {
    margin: 0.6em;
    width: auto !important;
    max-width: 95vw !important;
    font-size: 0.9em;
  }

  .swal2-popup {
    padding: 0.8em !important;
  }

  .swal2-title {
    font-size: 1.4em !important;
    padding: 0.5em !important;
  }
}
