<div class="como-trabajo">

    <div class="flex items-center justify-center mt-10 mb-10">
      <h1 class="mb-4 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white text-center">
        ¿Cómo trabajo?<span class="underline underline-offset-3 decoration-8 decoration-yellow-300 dark:decoration-yellow-300"></span>
      </h1>
    </div>

  <div class="lista-servicios">
    <div class="servicio">
      <i class="far fa-check-circle"></i>
      <span>EVALUACIÓN INICIAL</span>
    </div>

    <div class="servicio">
      <i class="far fa-check-circle"></i>
      <span>VALORACIÓN NEUROMUSCULAR</span>
    </div>

    <div class="servicio">
      <i class="far fa-check-circle"></i>
      <span>INTERVENCIÓN TERAPÉUTICA</span>
    </div>

    <div class="servicio">
      <i class="far fa-check-circle"></i>
      <span>REEVALUACIÓN</span>
    </div>

    <div class="servicio destacado">
      <i class="far fa-check-circle"></i>
      <span>PROPUESTA DE REHADAPTACIÓN INDIVIDUALIZADA</span>
    </div>

    <div class="servicio">
      <i class="far fa-check-circle"></i>
      <span>SEGUIMIENTO CONTÍNUO</span>
    </div>
  </div>
</div>
