.como-trabajo {
  color: black;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.lista-servicios {
  max-width: 800px;
  margin: 0 auto;
}

.servicio {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

  i {
    font-size: 1.875rem;
    margin-right: 1.5rem;
    color: black;
    transition: transform 0.3s ease;
  }

  i.fa-minus {
    transform: rotate(180deg);
  }

  i.fa-plus {
    transform: rotate(0deg);
  }

  span {
    font-size: 1.2rem;
    letter-spacing: 0.0625rem;
  }
}

// Media queries para diferentes tamaños de pantalla
@media screen and (max-width: 768px) {
  .servicio {
    i {
      font-size: 1.5rem;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .servicio {
    i {
      font-size: 1.25rem;
      margin-right: 0.75rem;
    }
  }
}

.accordion-item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.servicio {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contenido-servicio {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 0 1rem;
}

.contenido-servicio.active {
  max-height: 500px;
  padding: 1rem;
}
