.como-trabajo {
  padding: 2rem;
  // background: linear-gradient(to right, #333333, #666666);
  color: white;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.lista-servicios {
  max-width: 800px;
  margin: 0 auto;
}

.servicio {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  i {
    font-size: 1.875rem;
    margin-right: 1.5rem;
    color: white;
  }

  span {
    font-size: 1.2rem;
    letter-spacing: 0.0625rem;
  }
}

// Media queries para diferentes tamaños de pantalla
@media screen and (max-width: 768px) {
  .servicio {
    i {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    span {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .servicio {
    i {
      font-size: 1.25rem;
      margin-right: 0.75rem;
    }

    span {
      font-size: 0.875rem;
    }
  }
}
