<div class="flex flex-col lg:flex-row items-center justify-center min-h-[50vh] text-center mt-5">
  <div class="relative w-full">
    <div class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="absolute top-3/4 transform -translate-y-1/2 w-full text-center px-8 z-10 pb-7">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4">Evaluación</h1>
            <p class="text-xl md:text-2xl text-white mb-2">"Identifico la raíz de tus problemas para diseñar soluciones efectivas."</p>
          </div>
          <img src="../../assets/img/11.JPG" alt="David Pérez Fisioterapia 1" class="brightness-50">
        </div>
        <div class="carousel-item active">
          <div class="absolute top-3/4 transform -translate-y-1/2 w-full text-center px-8 z-10 pb-7">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4">Prevención</h1>
            <p class="text-xl md:text-2xl text-white mb-2">"Te ayudo a crear estrategias eficientes para mantenerte siempre al máximo de tu capacidad física."</p>
          </div>
          <img src="../../assets/img/3.JPG" alt="David Pérez Fisioterapia 1" class="brightness-50">
        </div>
        <div class="carousel-item">
          <div class="absolute top-3/4 transform -translate-y-1/2 w-full text-center px-8 z-10 pb-7">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4">Rehabilitación</h1>
            <p class="text-xl md:text-2xl text-white mb-2">"Vuelve a tu mejor versión recuperando fuerza, movilidad y confianza."</p>
          </div>
          <img src="../../assets/img/4.JPG" alt="David Pérez Fisioterapia 2" class="brightness-50">
        </div>
        <div class="carousel-item">
          <div class="absolute top-3/4 transform -translate-y-1/2 w-full text-center px-8 z-10 pb-7">
            <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4">Cercanía</h1>
            <p class="text-xl md:text-2xl text-white mb-2">"Te acompaño asegurando que cada paso en tu recuperación sea un éxito."</p>
          </div>
          <img src="../../assets/img/2.JPG" alt="David Pérez Fisioterapia 2" class="brightness-50">
        </div>
      </div>

      <button class="carousel-button prev"></button>
      <button class="carousel-button next"></button>

      <div class="carousel-indicators">
        <button
          *ngFor="let slide of slides; let i = index"
          type="button"
          class="indicator"
          [class.active]="i === currentSlide"
          (click)="goToSlide(i)"
          [attr.aria-label]="'Slide ' + (i + 1)">
        </button>
      </div>
    </div>
  </div>
</div>
